body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-centro {
    text-align: center;
    
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid darkblue;
}

h1 {
    color: aqua;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width: 40px;
    height: 40px;
}

footer a {
    margin: 20px;
    text-align: center;
}
